<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }

        body {
            background-image: url("../static/images/parc_des_princes.jpg");  
            color: rgb(0, 45, 75);

        }
    </style>
</head>
<body>
    <h1>Joao NEVES #87</h1>
    <img id="image" width="500" height="500" src="../static/images/neves2.png" onclick="changerImage()">
    
    <script>
        function changerImage() {
            var img = document.getElementById("image");
            if (img.src.endsWith("neves2.png")) {
                img.src = "../static/images/neves.avif";
            } else {
                img.src = "../static/images/neves2.png";
            }
        }
    </script>
</body>